ipython==7.6.1
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.0.2
jupyterlab-server==1.0.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.0
numpy==1.16.4
pandas==0.24.2
py==1.8.0
pytest==5.0.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-dateutil==2.8.0
scikit-learn==0.21.2
scipy==1.2.1
seaborn==0.9.0